<h1>Bem Vind ao Banco RoR</h1>
<p><%= flash[:error] %></p>
<p>Escolha a operção que deseja fazer:</p>

<ul>
  <li><%= link_to 'Novo cliente', new_cliente_path%></li>
  <li><%= link_to 'Depósitos', new_movimentacao_path(:tipo => 'D') %></li>
</ul>

