<h1>Bem Vind ao Banco RoR</h1>
<p><%= flash[:error] %></p>
<p>Escolha a operção que deseja fazer:</p>

<ul>
  <li><%= link_to 'Nova conta', new_cliente_path%></li>
  <li><%= link_to 'Acessar conta', new_cliente_path%></li>
  <li>Realizar saque</li>
  <li>Transferências</li>
  <li><%= link_to 'Depósitos', new_movimentacao_path(:tipo => 'D') %></li>
  <li>Consultar saldo</li>
  <li>Consultar Extrato</li>
</ul>

